
.contentCardHightlightsDetails{
    font-family: "Josefin Sans", sans-serif;
    margin: -5rem auto 0 auto;
    text-align: center;
}

.nameCard{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0.1rem;
}

.valueCard{
    margin: 0.3rem;
}